.statitics {
    width: 300px;
    align-items: center;
}

.stat-titles{
    font-family: Verdana, Tahoma, sans-serif;
}

.stat-titles.subtitle {
    color: #999999;
    font-size: 9px;
}

.stat-titles.title {
    color: 238, 238, 238;
    font-size: 12px;
    height: 8px;
}

