.app {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
}

/* .row {
    display: flex;
    justify-content: space-between;
} */

.container {
    width: 90%;
}